// Sunburst
@import "plonetheme/sunburst/base_properties";
@import "plonetheme/sunburst/base_mixins";

// Utilities
@import "plonetheme/utilities/deco-gs";
@import "plonetheme/utilities/member";
@import "plonetheme/utilities/discussion";
@import "plonetheme/utilities/kss";
@import "plonetheme/utilities/tinymce";
@import "plonetheme/utilities/custom";

// Main public styles
@mixin sunburst_public {
  @media screen {
    @include _sunburst_reset;
    @include deco-gs;
    @include _sunburst_base;
    @include _sunburst_header;
    @include _sunburst_search;
    @include _sunburst_livesearch;
    @include _sunburst_breadcrumbs;
    @include _sunburst_site-actions;
    @include _sunburst_listings;
    @include _sunburst_portlets;
    @include _sunburst_nav-portlet;
    @include _sunburst_content-area;
    @include _sunburst_tables;
    @include _sunburst_status-messages;
    @include _sunburst_image-alignment-classes;
    @include _sunburst_search-results-page;
    @include _sunburst_forms;
    @include _sunburst_login-form;
    @include _sunburst_toc;
    @include _sunburst_footer;
    @include _sunburst_sitemap;
    @include _sunburst_album;
    @include _sunburst_invisibles;
    @include _sunburst_acessibility;
    @include _sunburst_overlay;
    @include _sunburst_jQuery-Tag-multiple-selector;
    @include _sunburst_calendar;
    @include discussion;
    @include _sunburst_content-sprites; }
  @media handheld, screen and (max-device-width: 480px) {
    @include _sunburst_mobile; }
  @media print {
    @include _sunburst_print; }
  @if $custom == true {
    @include _sunburst_custom; } }

// Main clean public styles
@mixin sunburst_clean {
  @media screen {
    @include _sunburst_reset;
    @include deco-gs;
    @include _sunburst_base-clean;
    @include _sunburst_header-clean;
    @include _sunburst_search;
    @include _sunburst_livesearch;
    @include _sunburst_breadcrumbs-clean;
    @include _sunburst_site-actions;
    @include _sunburst_listings;
    @include _sunburst_portlets-clean;
    @include _sunburst_content-area;
    @include _sunburst_tables;
    @include _sunburst_status-messages;
    @include _sunburst_image-alignment-classes;
    @include _sunburst_search-results-page;
    @include _sunburst_forms;
    @include _sunburst_login-form;
    @include _sunburst_toc;
    @include _sunburst_footer;
    @include _sunburst_sitemap;
    @include _sunburst_album;
    @include _sunburst_invisibles;
    @include _sunburst_acessibility;
    @include _sunburst_overlay;
    @include _sunburst_jQuery-Tag-multiple-selector;
    @include _sunburst_calendar;
    @include discussion;
    @include _sunburst_content-sprites; }
  @media handheld, screen and (max-device-width: 480px) {
    @include _sunburst_mobile; }
  @media print {
    @include _sunburst_print; }
  @if $custom == true {
    @include _sunburst_custom; } }

// Main edit styles
@mixin sunburst_edit {
  @media screen {
    @include members;
    @include _sunburst_editting;
    @include _sunburst_dashboard;
    @include kss;
    @include tinymce_lists; } }

@mixin sunburst_dialog {
  @media screen {
    @include _sunburst_reset;
    @include _sunburst_base-clean;
    @include _sunburst_forms;
    @include members;
    @include _sunburst_editting;
    @include tinymce_lists; } }

@mixin sunburst_tinymce {
  @media screen {
    // Sunburst tiny
    @include _sunburst_reset;
    @include _sunburst_base;
    @include _sunburst_listings;
    @include _sunburst_content-area;
    @include _sunburst_tables;
    @include _sunburst_image-alignment-classes;
    
    /* =Layout */
    body#content {
      margin: 0;
      padding: 1em 0;
      font-size: $body-font-size;
      font-family: $body-font-family;
      line-height: $body-line-height; } } }
